<article class="language">
    <div class="title">
        {{language}}
    </div>
    {{!-- <div class="content">
        {{mentors}}
    </div> --}}
    <div class="meta">
        <a href="/languages/language/{{id}}" class="a-second">{{language}}</a>
    </div>
</article>

{{!-- {{reviews.length}} {{format_plural "review" reviews.length}} --}}