<arcticle class='mentor'>
    <div class='title'>
        {{mentor}}
        {{!-- {{mentor.first_name}}
        {{mentor.last_name}}
        {{mentor.email}} --}}
    </div>
    {{!-- <div class='review'>
        {{review}}
    </div> --}}
    {{!-- <div class="meta">
        <a href="/mentors/{{id}}" class="a-second">{{review.length}} {{format_plural "review" review.length}}</a>
    </div> --}}
</arcticle>