<article class="post">
    <div class="title text-light">
        <span class='meta'>Posted By {{user.username}} on {{format_date created_at}}</span><br>
        <h3 class='meta text-light'>{{title}}</h3>
    </div>
    <div class="content text-light">
        {{content}}
    </div>
    <div class="meta">
        <a href="/blog/post/{{id}}" class="a-second text-light">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>