<h2 style="color: white">{{mentor.first_name}} {{mentor.last_name}} "{{mentor.language.language}}"</h2>
<h3>
    <a style='color:white' href="mailto:{{mentor.email}}">{{mentor.email}}</a>
</h3>


{{>reviews}}

{{!-- {{#each mentor.reviews}}
{{review_text}}
{{/each}} --}}